p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
    color: white
}


.back-to-top {
  position: fixed;
  display: none;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 6px 12px 9px 12px;
  font-size: 16px;
  border-radius: 2px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

.back-to-top:focus {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  outline: none;
}

.back-to-top:hover {
  background: white;
  color: #fff;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: transparent;
  padding: 20px 0;
  height: 90px;
    position: fixed;
    width: 100%;
    z-index: 999
}

#header #logo {
  float: left;
    
}
.hr{
    height: 1px;
background-color: lightgray;
}
.copy-para{text-align: center;
margin-top: 25px}
#header #logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 6px 0;
  line-height: 1;
  font-family: 'Cabin', sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header #logo h1 a, #header #logo h1 a:hover {
  color: #fff;
}

#header #logo img {
  padding: 0;
  margin: 0;
  max-height: 60px;

}

@media (max-width: 768px) {
  #header {
    height: 80px;
  }
  #header #logo h1 {
    font-size: 26px;
  }
  #header #logo img {
    max-height: 40px;
  }
}

.is-sticky #header {
  background: rgba(0, 0, 0, 0.85);
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}


/* Nav Meu Container */
#nav-menu-container {
  float: right;
  margin: 5px 0;
}

@media (max-width: 768px) {
  #nav-menu-container {
    display: none;
  }
}

/* Nav Meu Styling */
.nav-menu a {
  padding: 10px 15px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 300;
  font-size: 20px;
  
}

.nav-menu a:hover, .nav-menu li:hover > a, .nav-menu .menu-active > a {
  color: skyblue;
}


/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 20px 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
}

#mobile-nav-toggle i {
  color: #fff;
}

@media (max-width: 768px) {
  #mobile-nav-toggle {
    display: inline;
  }
}

/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(0, 0, 0, 0.9);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 16px;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
}

#mobile-nav ul li a:hover {
  color: skyblue;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

.fa{color: skyblue}

.fa-chevron-up {
  color: black;
}

#mobile-nav ul .menu-item-active {
  color: #03C4EB;
}


/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}

.section-title {
  font-size: 32px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
font-family: 'Cabin', sans-serif;;
}

.section-description {
  text-align: center;
  margin-bottom: 40px;
    font-family: 'Red Hat Display', sans-serif;
    font-size:20px;
    color: white
}

.section-title-divider {
  width: 50px;
  height: 3px;
  background: white;
  margin: 0 auto;
  margin-bottom: 20px;
}

/* Get Started Section
--------------------------------*/
#about {
    
  padding: 80px 0;
}

#about .about-img {
  overflow: hidden;
}

#about .about-img img {
  max-width: 100%;
    border-radius:10px
}

@media (max-width: 768px) {
  #about .about-img {
    height: auto;
  }
  #about .about-img img {
    margin-left: 0;
    padding-bottom: 30px;
  }
}

#about .about-content {
  background: transparent;
}

#about .about-title {
  color: white;
  font-weight: 700;
  font-size: 28px;
    font-family: 'Cabin', sans-serif;
}

#about .about-text {
  line-height: 25px;
  margin-bottom: 15px;
    font-family: 'Red Hat Display', sans-serif;
    font-size:20px;
    color: white;
}
.about-textt{line-height: 40px;
  margin-bottom: 15px;
    font-family: 'Red Hat Display', sans-serif;
    font-size:26px;
    color: white;}

#about .about-text:last-child {
  margin-bottom: 0;
}



/* Portfolio Section
--------------------------------*/
#portfolio {
  background: #1C1C1C;
  padding: 80px 0;
}

#portfolio .portfolio-item {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 450px;
  width: 100%;
  display: table;
  overflow: hidden;
  margin-bottom: 30px;
    text-decoration: none;
    
}

#portfolio .portfolio-item .details {
  height: 260px;
  background: #fff;
  display: table-cell;
  vertical-align: middle;
  opacity: 0;
  transition: 0.3s;
  text-align: center;
}

#portfolio .portfolio-item .details h4 {
  font-size:24px;
  transition: transform 0.3s, opacity 0.3s;
  transform: translate3d(0, -15px, 0);
  font-weight: 700;
  color: #333333;
}

#portfolio .portfolio-item .details span {
  display: block;
  color: #666666;
  font-size: 18px;
  transition: transform 0.3s, opacity 0.3s;
  transform: translate3d(0, 15px, 0);
}

#portfolio .portfolio-item:hover .details {
  opacity: 0.8;
}

#portfolio .portfolio-item:hover .details h4 {
  transform: translate3d(0, 0, 0);
}

#portfolio .portfolio-item:hover .details span {
  transform: translate3d(0, 0, 0);
}


#contact {
  
  padding: 80px 0;
}

#contact .info {
  color: white;
font-family: 'Red Hat Display', sans-serif; 
    font-size:18px
}

#contact .info i {
  font-size: 32px;
  color: white;
  float: left;
}

#contact .info p {
  padding: 0 0 10px 50px;
  line-height: 24px;
    
}


#contact .form #sendmessage {
  color: white;
  border: 1px solid black;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #sendmessage.show, #contact .form #errormessage.show, #contact .form .show {
  display: block;
}

#contact .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#contact .form input, #contact .form textarea {
  border-radius: 0;
  box-shadow: none;
}

#contact .form button[type="submit"] {
    background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(16,90,172,1) 64%); 
  border: 0;
  padding: 10px 24px;
  color: black;
  transition: 0.9s;
    border-radius:5px
}

#contact .form button[type="submit"]:hover {
  background: #105aac;
    color: white;
    border-radius:5px
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/


.footer-area {
    padding-top: 50px;
    background-color: #1C1C1C;
    height: auto;
    
}

.footer-area h6 {
    color: skyblue;
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 600;
    
}
.footer-area p {
    color: white;
    font-size: 18px;
    font-weight: 200;
}

@media (max-width: 767px) {
    .footer-area h6 {
        margin-bottom: 15px;
    }
}





.footer-social a {
    padding-right: 25px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.footer-social a:hover i {
    color: skyblue;
}

.footer-social i {
    color: #cccccc;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

@media (max-width: 991px) {
    .single-footer-widget {
        margin-bottom: 40px;
    }
}


.layout{    
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    }
.logo1 {
    height: auto;
    width: 150px;
    margin: 0px auto;
    padding-top: 100px;

    
    
} 
.logoo{width:100%;
height: 100%;
    margin-left: 30px;
    margin-top: 20px;

}
.bodyy{  display: table;
  width: 100%;
  height: 100vh;
  background-size: cover;

    
    
}
.omarrr{padding:40px;}
.panel{margin-top:150px;
}

.login{  display: table;
  width: 100%;
  height: 100vh;
  background: url(../bump-collaboration-colleagues-1068523.jpg);
  background-size: cover;
}